//- extends layout

//- block content
//-   h1= title
//-   -
//-    let result = [
//-     {instrument_name:"Guitar", instrument_material:"Wood", instrument_price:15000},
//-     {instrument_name:"Piano", instrument_material:"Felt", instrument_price:20000},
//-     {instrument_name:"Violin", instrument_material:"Steel", instrument_price:10000}
//-   ]
//-   div(class="container-fluid")
//-   div(class="row")
//-   each instrument,index in result
//-   ult
//-   div(class="col-sm-2" )
//-   p Name: #{instrument.instrument_name}
//-   p Material: #{instrument.instrument_material}
//-   p Price: #{instrument.instrument_price}

extends layout
 
block content
  h1= title
  -  
    let results = [
      { instrument_name:"Guitar", instrument_material:"Wood", instrument_price:15000 }, 
      { instrument_name:"Piano", instrument_material:"Felt", instrument_price:20000 },
      { instrument_name:"Violin", instrument_material:"Steel", instrument_price:10000 }
    ]
  div(class="container-fluid")
    div(class="row")
      each instrument, index in results  
        div(class="col-sm-2")
          p Name: #{instrument.instrument_name}
          p Origin: #{instrument.instrument_material}
          p Cost: #{instrument.instrument_price}
